<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document Title goes here</title>

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
</head>
<body>
    <h1>LZL TESTING FOR PYTHON FLASK</h1>

    <button id="main">main</button><br>
    <button id="background">get backgrounds</button><br>
    <button id="clothes">get clothes</button><br>
    <button id="clothesclass">get clothes classes</button><br>
    <button id="customers">get customers</button><br>
    <button id="deliveryman">get deliverymen</button><br>


    <script>
    
    $("#main").on("click", function() {
        $.getJSON("http://localhost:5000", function(result){
            console.log(result)
        })
    })
    
    $("#background").on("click", function() {
        $.getJSON("http://localhost:5000/get_backgrounds", function(result){
            console.log(result)
        })
    })

    $("#clothes").on("click", function() {
        $.getJSON("http://localhost:5000/get_all_clothes", function(result){
            console.log(result)
        })
    })

    $("#clothesclass").on("click", function() {
        $.getJSON("http://localhost:5000/get_all_clothesclasses", function(result){
            console.log(result)
        })
    })

    $("#customers").on("click", function() {
        $.getJSON("http://localhost:5000/get_all_customers", function(result){
            console.log(result)
        })
    })

    $("#deliveryman").on("click", function() {
        $.getJSON("http://localhost:5000/get_all_deliveryman", function(result){
            console.log(result)
        })
    })
    </script>
    
</body>
</html>