<html lang="en">

<head>
    <!-- Bootstrap libraries -->
    <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <script>

        // GET ORDERS SENT FROM ORDERS SERVICE

        // SEND MESSAGE TO DELIVERY MAN
        $.ajax({
            url: 'https://rest.textmagic.com/api/v2/messages',
            type: 'post',
            data: {
                text: 'hello',
                phones: '6591242335',

            },
            headers: {
                "X-TM-Username": 'nicholasfranslay',   //If your header name has spaces or any other char not appropriate
                "X-TM-Key": 'IRfylkmjNpPtK3CmVakvhiPy5RLcA4'  //for object property name, use quoted notation shown in second
            },
            dataType: 'json',
            success: function (data) {
                console.info(data);
            }
        });

        console.log("WORK");
    </script>
</body>

</html>